/*这些点考的太近了我还没有什么办*/
#root{
  max-width: 921px;
  margin:0px auto
}

.card{
 width: 160px;
 height:220px;
 background-size: cover;
 margin:5px;
 background-color:#A7BFE8;
 position: absolute;
 border-radius: 5px;
 border: 3px solid white;
 box-shadow: 3px 7px 3px 1px rgba(0, 0, 0, 0.2);
}
.button{
  display: inline-block;
  background: linear-gradient(#A7BFE8,#6190E8);
  color:rgb(247, 244, 99);
  border-radius: 8px;
  text-align: center;
  height:30px;
  line-height:30px;/*垂直居中的方法 行高等于block的高度自然就居中了妙啊*/ 
  border-right: 0.5px solid white;
  border-bottom: 0.5px solid white;
  box-shadow: 3px 4px 3px 1px rgba(0, 0, 0, 0.2);
  font-weight:bold;
  
}
.button-left{
  width:150px;
  
}
.button-right{
  margin-left: 10px;
  width:250px;
}

/*我就想让我的元素可以在页面中随意散步*/
.card-container {
position: relative;
width: 600px;
height: 300px;
margin:0 auto ;
border:5px solid #6190E8
}
.card-box{
width:100%;
height:70%;
}
.card-buttons{
  margin-top:10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%; 
  margin:200px auto;
}
.card-back{
  position: absolute;
  left:50%;
  margin-left: -80px;
  margin-top: 30px;
  width: 160px;
  height:220px;
  background-color:rgba(89, 195, 214, 0.856) ;
  border: 6px solid rgb(116, 159, 240);
  border-radius: 10px;
  box-shadow: 3px 7px 3px 1px rgba(0, 0, 0, 0.2)
}
/*#38c6c9 #fdc344  rgb(243, 126, 97)*/

.message{
  margin:3px;
  margin-top: 70px;
  color:#fdbb2d;
  height: 55px;
  font-size: 40px;
  color:white;
  text-align: center;
  text-decoration: blink ;
}
.logo{
  background-color:rgb(116, 159, 240);
  width:60%;
  height:200px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgb(106, 152, 238);
  
}
.body{
  width: 60%;
  border: 2px dashed rgb(106, 152, 238);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
}
h1{

  text-align: center;
  color:rgb(247, 244, 99);
  -webkit-text-stroke: 1px white;
  font-size:50px
}
.title{
  display: inline-block;
  margin-left: 46px;
  width:100%
}
h2{
  background-color: white;
  box-sizing: content-box;
  width: 101%;
  margin-left:-2px ;
  text-align: center;
  height: 27%;
  margin-bottom: 10px;
  color: rgb(240, 132, 105);
  text-shadow: 1px 1px 2px rgb(138, 135, 135); 
}
.slogan{
  margin-top: 15px;
  display: inline-block;
  float:right;
  margin-right: 20px;
  /*transform: rotate(2deg);*/
}
.footer{
  margin-top: 15%;
  color:rgba(50, 65, 92, 0.712);
  width: 60%;
}
.right-float{
float:right;
margin-right: 22px;
}
.first-button{
 
  float: right;
  margin-right: 25px;
  width:60%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}
input{
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgb(116, 159, 240);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
}
.des{
  position: relative;
}
.des:hover::after,
.des:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 150px;
  top: 20px;
  min-width: 200px;
  border: 2px #fdbb2d solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 8px;
  color: rgba(50, 65, 92, 0.712);
  font-size: 14px;
  z-index: 1;
}

/*<div className={`card ${[probs.id]}`} onClick={() => probs.onClick()} style={{backgroundImage:`url(${probs.back})` ,zIndex:zindex
,transform:rotate(`${r}deg`),left:`${left}.px`,top:`${top}.px`}} >*/


/*<span class="input input--kyo">
<input class="input__field input__field--kyo" type="text" id="input-19" />
<label class="input__label input__label--kyo" for="input-19">
  <span class="input__label-content input__label-content--kyo">What's your email?</span>
</label>
</span>*/